.box{
    height: 60px;
    width: 60px;
}


#box1{
    color: rgb(11, 11, 11)  ;
    text-decoration: line-through;
    text-align: center;
    background-color: rgb(101, 15, 182);
}
#box2{
    color: rgb(11, 11, 11)  ;
    text-align:end;
    text-decoration: overline;
    text-decoration-color: blue;
    text-decoration-line: overline;
    text-transform:capitalize;
        background-color: rgb(43, 226, 220);
}
#box3{
    text-decoration: underline;
    color: rgb(11, 11, 12)  ;
    text-align: left;
    background-color: rgb(183, 226, 43);
}
#link{
    text-decoration: none;
}
#p1{
    line-height: 6px;
    font-size: small;
}
#p2{
    line-height: 30px;
    font-family:"dancing scripts" , cursive;
font-weight: 1000;
font-style: italic;

}